@use "../../variables.scss" as *;
.profile {
  @include display-md {
    max-width: 700px;
    margin: auto;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  th {
    width: 150px;
  }
}
