@use "../../variables.scss" as *;
.profile {
  @include display-md {
    max-width: 700px;
    margin: 0 auto;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  th {
    width: 150px;
  }
  .endButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include display-md {
      flex-direction: row;
    }
  }
}
