@use "../App.scss";
.bg-primary{
  background-color: App.$primary;
}
.bg-secondary{
  background-color: App.$secondary;
}
.bg-danger{
  background-color: App.$danger;
}
.bg-light{
  background-color: App.$light;
}
.bg-dark{
  background-color: App.$dark;
}
.bg-bgDark{
  background-color: App.$bgDark;
}
.bg-bgLight{
  background-color: App.$bgLight;
}

.text-primary{
  color: App.$primary;
}
.text-secondary{
  color: App.$secondary;
}
.text-danger{
  color: App.$danger;
}
.text-light{
  color: App.$light;
}
.text-dark{
  color: App.$dark;
}

.text-textDark{
  color: App.$textDark;
}
.text-textLight{
  color: App.$textLight;
}
.testDiv{
  width: 100px;
  height: 100px;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
} 
.flex-wrap{
  flex-wrap: wrap;
}
















