@use "./../../variables.scss" as Var;

.radioCard {
  cursor: pointer;
  .checked {
    display: none;
    color: Var.$primary;
  }
  .unchecked {
    color: Var.$secondary;
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + .cardWrapper {
        outline: 2px;
        outline-style: solid;
        outline-color: Var.$primary;
        .checked {
          display: inline;
        }
        .unchecked {
          display: none;
        }
      }
    }
  }
  .cardWrapper {
    @include Var.shadow-md;
    border-radius: Var.$radius-small;
    padding: 0.75rem;
    margin: 1rem 0.5rem;
  }
  .label {
    font-family: bungee;
    margin-left: 0.5rem;
  }
}
