@use "../../variables" as *;
.mediaForm {
  .card {
    border-radius: $radius-small;
    box-shadow: none;
    display: block;
    margin: 0.25rem;
    padding: 0;
    img {
      width: 100px;
      margin: 0 auto;
      aspect-ratio: 1;
      border-radius: $radius-small;
    }
    .popupImage {
      width: auto;
      border-radius: 0.5rem;
    }
  }
  .card:hover {
    cursor: pointer;
  }
  .addCard {
    color: $secondary;
    border: 2px dashed $secondary;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    img {
      grid-row: 1 / span 2;
      margin: 0 auto;
      width: auto;
      border-radius: $radius-small;
    }
    .btn {
      height: 3rem;
      aspect-ratio: 1;
      margin-left: 0.5rem;
    }
  }
  .imagesGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .popupButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px 0;
    .btn {
      padding: 0;
      margin: 0;
      border-radius: 0.5rem;
    }
    & > * {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .btnGroup {
      gap: 8px;
    }
    gap: 1rem;
    .btnArrow {
      height: 4rem;
      width: 4rem;
    }
  }
}
