@use "./../../variables" as Var;
.nav {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: Var.$primary;
  bottom: 0;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  &.hide {
    display: none;
  }
  overflow-y: scroll;
  .item {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    box-shadow: 3px 5px 8px 8px rgba(0, 0, 0, 0.35);
    border-radius: Var.$radius-small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: Var.$textDark;
    width: 100%;
    &:hover {
      background-color: Var.$secondary;
    }
  }
}
