@use "../../App.scss";
nav,footer{
  height:3rem;
  background-color:App.$primary;
  padding:0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
nav{
  box-shadow: 3px -5px 8px 8px rgba(0,0,0,0.35);
  .icon{
    height:2rem;
    width:2rem;
    margin-left:0.5rem;
    &:hover{
      transform: scale(1.05);
    }
  }
}
.nav{
  position:fixed;
  top:3rem;
  left:0;
  right:0;
  z-index:1;
  background-color: App.$primary;
  bottom:0;
  padding: {
    left:2rem;
    right:2rem;
  };
  display:flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  &.hide{
    display:none;
  }
  .item{
    padding:0.5rem 0.5rem;
    margin:0.5rem 0.5rem;
    box-shadow: 3px 5px 8px 8px rgba(0,0,0,0.35);
    border-radius: App.$radius-small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color:App.$textDark;
    width:100%;
    &:hover{
      background-color: App.$secondary;
      color:App.$primary;
    }
  }
}
footer{
  box-shadow: 3px 5px 8px 8px rgba(0,0,0,0.35);
}
