@use "./variables" as *;
//////////////////////////////////////////////////
//////                                      //////
//////           Fonts                      //////
//////                                      //////
//////////////////////////////////////////////////
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-poppins {
  font-family: poppins, sans-serif;
}
* {
  font-family: poppins, sans-serif;
}
// TODO changer cette font
@font-face {
  font-family: bungee;
  src: url(./assets/fonts/Bungee_Tint/BungeeTint-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-bungee {
  font-family: bungee, sans-serif;
}

//////////////////////////////////////////////////
//////                                      //////
//////           Headers                    //////
//////                                      //////
//////////////////////////////////////////////////

h1 {
  @extend .font-bungee;
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  @include mx(1rem);
  // text-align: center;
  position: relative;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  margin-left: 1.7rem;
  &:before {
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    background-color: $primary;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    // left:-0.85rem;
    margin-left: -1rem;
  }
  &:after {
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    background-color: $primary;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    margin-left: 0.3rem;
  }
}
h3 {
  font-size: 1.5rem;
  @include mx(1rem);

  // text-align: center;
  position: relative;
  display: block;
  margin-left: 1.7rem;

  &:before {
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    background-color: $primary;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    // left:-0.85rem;
    margin-left: -1rem;
  }
}
h4 {
  font-size: 1rem;
  @include mx(1rem);
}

//////////////////////////////////////////////////
//////                                      //////
//////           Buttons                    //////
//////                                      //////
//////////////////////////////////////////////////
.btn {
  $px: 3px;
  $py: 7px;

  display: inline-block;
  padding: $px $py;
  border-radius: $radius-small;
  border: none;
  cursor: pointer;
  margin: 0.25rem;
  transition: all 0.2s ease-in-out;
  font-weight: 550;
  box-shadow: $shadow-sm, $shadow-inset-light;

  @mixin outline($color) {
    &.btn-outline {
      padding: ($px - 2px) ($py - 2px);
      border-radius: $radius-small;
      border: 2px solid $color;
      background-color: transparent;
      color: $color;
    }
  }

  @each $name, $color in $colorsMap {
    &.btn-#{$name} {
      background-color: $color;
      color: $textLight;
      @include outline($color);
    }
  }

  &.btn-cta {
    padding: ($px + 8px) ($py + 14px);
    margin: {
      top: 1rem;
      bottom: 1rem;
    }
    box-shadow: $shadow-md, $shadow-inset-light;
    font-size: 1.2rem;
    font-weight: bold;
    @include outline($primary);
  }

  &:hover {
    transform: scale(1.02);
    @include shadow-lg;
  }
  &:focus {
    outline-color: $primary;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 1.5px;
  }
  &:active {
    transform: scale(0.98);
    transition: all 0.1s ease-in-out;
    @include shadow-inner;
  }
}
//////////////////////////////////////////////////
//////                                      //////
//////           Inputs                     //////
//////                                      //////
//////////////////////////////////////////////////
input,
select,
textarea {
  border-radius: $radius-small;
  border: none;
  padding: 0.5rem;
  margin: 0.25rem 0;
  font-size: 1rem;
  box-shadow: $shadow-sm inset;
  background-color: white;
  transition: all 0.2s ease-in-out;
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
  width: 100%;

  &:focus {
    outline-color: $secondary;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 1.5px;
  }
  & + .input-eye {
    margin-left: -2rem;
  }
}
label {
  font-size: 1rem;
  margin: 0.25rem;
}
form {
  // display: flex;
  // flex-direction: column;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  .item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

//////////////////////////////////////////////////
//////                                      //////
//////           Tables                    //////
//////                                      //////
//////////////////////////////////////////////////
td,
th {
  padding: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: default;
}
th {
  border-bottom: 1px solid $secondary;
  text-align: left;
}
tr {
  &:nth-child(even) td {
    background-color: $secondary;
  }
  &:hover td {
    filter: brightness(1.1);
  }
}
table {
  width: 100%;

  .actions {
    text-align: center;
  }
}

//////////////////////////////////////////////////
//////                                      //////
//////           Utilities                 //////
//////                                      //////
//////////////////////////////////////////////////
a {
  text-decoration: underline;
  cursor: pointer;
}
hr {
  margin: 1rem;
}
.card {
  @include shadow-md;
  border-radius: $radius-small;
  padding: 0.75rem;
  margin: 0.5rem;
}
/// Flex
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.flex-col {
  @include flexColumn;
}
.flex-row {
  @include flexRow;
}
.flex-center {
  @include flexCenter;
}
.flex-between {
  @include flexBetween;
}
//text align
.text-center {
  text-align: center;
}
